*{
    margin: 0px;
    padding: 0px;
}

@font-face{
    font-family: 'Nunito';
    src: url('../font/static/Nunito-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
body{
  background-color: #86D9FC; 
  font-family: 'Nunito'; 
}

/* HEADER*/

header{
    background-color: #081167;
    height: 75px; 
    width: 98%;
    margin-top: 2%;
    margin-left: 1%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header{
    margin-left: 30px;
}

.right-header{
    margin-right: 30px;
}

.burger{
    margin-left: 55px;
    border-style: none;
}

.burger i{
    background-color: #081167;
    font-size: 450%;
    color: #F3F4FE;
}

.conteiner-user i{
    font-size: 270%;
    color: #F3F4FE;
}


/*SECCION LANZAMINETOS*/

.conteiner-titulo-lanzamiento{
    display: flex;
    justify-content: center;
   
}

.conteiner-titulo-lanzamiento h1{
     color: #081167;
     font-size: 60px;
     margin-top: 2%;
     margin-bottom: 2%;
}

.carrusel-prox-lanzamientos{
    display: flex;
    justify-content: space-evenly;
}

.tarjeta-lanzamientos{
    width: 400px;
    background-color: #030625;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.titulo-tarjeta{
    color:#FEC665;
    font-size: 180%;
    margin-left: 6%;
    margin-top: 5%;
    margin-bottom: 17%;
}

.tarjeta-lanzamientos img{
    height: 254px;
    width: 350px;
    margin-left: 6.5%;
    margin-top: 6%;
    border-radius: 20px;
}

.btn-jugar-lanzamiento{
    height: 51px;
    width: 109px;
    border-radius: 30px;
    background-color:  #4152F1;
    color: #C0C6FA;
    margin-left: 67%;
    margin-bottom: 12%;
    font-size: 100%;
}

/*SECCION RECOMENDADOS*/

h2{
    color: #081167;
    margin-left: 5%;
    margin-top: 3%;
}

.carrusel, .carrusel-img-explicativas, .carrusel-personajes-destacado {
    /*display: flex;*/
    /*justify-content: center;*/
    display: flex;
    list-style: none;
    margin-block: 2rem;
    margin-inline: auto;
    overflow: auto;
    scroll-snap-type: x mandatory;
}
      
.tarjeta-juego{
    flex-shrink: 0;
    scroll-snap-align: start;
    width: 330px;
    border-radius: 20px;
    background-color: #030625;
    margin-left: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tarjeta-juego img {
    height: 240px;
    width: 288px;
    border-radius: 20px;
    margin-left: 6.5%;
    margin-top: 6%;
}

.conteiner-precioBtnComprar{
    width: 310px;
    display: flex;
    justify-content: space-between;
}

.precio-juego-tarjeta{
    color: #FEC665;
    font-size: 180%;
    margin-left: 6%;
    margin-top: 5px;
}


.btn-jugar{
    border-radius: 30px;
    background-color:  #4152F1;
    color: #C0C6FA;
    margin-left: 29%;
    margin-bottom: 12%;
    font-size: 100%;
    height: 41px;
    width: 99px;
    left: 197px;
    top: 373px;
}

.btn-jugar a, .btn-jugar-lanzamiento a {
    text-decoration: none;
    color: #C0C6FA;
}

.btn-comprar{
    border-radius: 30px;
    background-color:  #FFAB19;
    color: #030625;
    margin-left: 16%;
    margin-bottom: 12%;
    font-size: 100%;
    height: 41px;
    width: 99px;
    left: 197px;
    top: 373px;
}

.btn-comprar i{
    font-size: 160%;
}





/*FOOTER*/

.primerFooter{
    background-color: #036791;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.titulo-primer-footer{
    color: #F3F4FE;
    font-size: 180%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.conteiner-titulo-primer-footer, .conteiner-cards-footer{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.card-footer{
    width: 190px;
    left: 109px;
    top: 107px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #030625;
    margin-left: 2%;
}

.card-footer img{
    height: 64.8214340209961px;
    width: 165.81817626953125px;
    left: 12.09090805053711px;
    top: 4.591552734375px;
    border-radius: 20px;
    margin-left: 6.5%;
    margin-top: 6%;
}

.titulo-tarjeta-footer{
    color: #FEC665;
    font-size: 110%;
    margin-left: 6%;
    margin-top: 5%;
    margin-bottom: 12%;
}

.segundoFooter{
    background-color: #034D6D;
    height: 120px;
    display: flex;
    justify-content: center;
}

.iconos-redes, .iconos-redes-4EnLinea{
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
    margin-bottom: 3%;
}

.iconos-redes i {
    color: #F3F4FE;
    margin-left: 45%;
    font-size: 250%;
}

.tercerFooter{
    background-color: #012F43;
    display: flex;
    justify-content: center;
}

.tercerFooter a{
    color: #F3F4FE;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*SITIO 4 EN LINEA*/

.conteiner-breadCrumTitulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.breadCrum-conteiner{
    background-color: #F3F4FE;
    display: flex;
    justify-content: center;
    width: 185px;
    float: left;
    margin-left: 25px;
    margin-top: 1%;
}

/*background: var(--bgcolor);
    color: #fff;
    height: 32px;
    margin: 0.2em 0.75em;
    padding: 0 0.75em;
    text-decoration: none;
    transition: background .5s;
    display: inline-block;
    position: relative;*/


.titulo-juego{
    font-size: 230%;
    color: #081167;
    margin-top: 4%;
}

.conteiner-titulo-juego, .conteiner-video, h1{
    display: flex;
    justify-content: center;
    
}

.conteiner-img-ppal-juego{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 535px;
}

.conteiner-img-ppal{
    width: 99%;
    
}

.btn-jugar-ppal{
    height: 85px;
    width: 191px;
    border-radius: 30px;
    position: absolute;
    background-color: #6E7AE2;
    color: #F3F4FE;
    font-size: 170%;
    border-style: none;
}

.compartir-redes{
    float: right;
    width: 580px;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.compartir-redes h3{
    color: #081167;
    font-size: 210%;
    margin-right: 10%;
    margin-top: 2.5%;
}

.iconos-redes-4EnLinea i{
    color: #081167;
    margin-left: 10%;
    font-size: 250%;
}


/*SECCION FOTOS Y VIDEO*/



.titulo-video-4EnLinea{
    margin-top: 10%;
}

.img-explicativa{
    flex-shrink: 0;
    scroll-snap-align: start;
    width: 330px;
    margin-left: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-explicativa{
    color: #081167;
    font-size: 180%;
    margin-left: 6%;
    margin-top: 5px;
}

/* video y .btn-play-video hay que retocar porque son igual al z-index anterior */
video{
    height: 535px;
    left: 56px;
    top: 235px;
    width: 90%;
    z-index: -1;
}

/*.btn-play-video{
    height: 85px;
    width: 191px;
    left: 622px;
    top: 462px;
    border-radius: 30px;
    z-index: 1;
    position: absolute;
    background-color: #6E7AE2;
    color: #F3F4FE;
    font-size: 170%;
    border-style: none;
}
*/
.parrafo-reglas{
    font-size: 80%;
    color: #081167;
    margin-left: 5%;
    margin-top: 1%;
}

/*Formulario*/

.form-comentario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.conteiner-inputSubmit{
    display: flex;
    justify-content: space-between;
}

.conteiner-inputSubmit input{
    width: 70%;
    padding-bottom: 1.5%;
    border-radius: 10px;
    border-style: none;
}

.btn-submit-comentar{
    margin-right: 18%;
    border-radius: 30px;
    background-color:  #4152F1;
    color: #C0C6FA;
    font-size: 100%;
    height: 41px;
    width: 99px;
    left: 197px;
    top: 373px;
    border-style: none;
}

.titulo-comentario {
    color: #081167;
    font-size: 170%;
    margin-bottom: 0.5%;  
}

.conteiner-img-usuario-input{
    width: 7%;
}

.conteiner-img-usuario-input img{
    width: 100%;
    border-radius: 6px;
}
/* 4 EN LINEA */

.juego-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.juego-principal h1{
    color: #081167;
}

.juego-principal img{
    box-sizing: border-box;
    width: 1331px;
    height: 535px;
    top: 235px;
}

.compartir-redes {
    display: flex;
    flex-direction: row;   
}

/* LINEAGE II */

.body-Lineage{
    background-image: url("///C:/Users/Usuario/Desktop/juancha/intefases/sitio%20web/backup/images/sitioDestacado/fondoTitulo.jpg");
    background-size: cover;
    background-position: center;
}

.titulo-destacado{
    margin-top: 2%;
}

.titulo-destacado img {
    mix-blend-mode: darken;
}

.conteiner-imagen-toAction{
    display: flex;
    justify-content: center;
}

.conteiner-imagen-toAction img{
    width: 99%;
    margin-top: 2%;
    z-index: -1;
}

.toAction{
    z-index: 1;
    position: absolute;
    margin-left: 50%;
    margin-top: 7%;
    background-color: #56CAFB49;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leyenda, .titulo-toaction{
    color: #081167;
    font-size: 145%;
    margin-bottom: 3%;
}

.btn-toAction{
    background-color: #FFDEA4;
    color: #081167;
    font-size: 145%;
    height: 72px;
    width: 189px;
    left: 195px;
    top: 139px;
    border-radius: 30px;
    border-style: none;
}


/* FEATURES DEL JUEGO*/

h1{
    color: #081167;
    margin-top: 5%;
    margin-bottom: 2%;
}


.tarjeta-feature{
    display: flex;
    justify-content: center;
    width: 90%;
    background-color: #56CAFB33;
    color: #081167;
    margin-bottom: 3%;
}

.conteiner-tituloImg{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.conteiner-tituloImg img {
    height: 290px;
    width: 680px;
    left: 99px;
    top: 1465px;
    border-radius: 10px;
    margin-left: 12%;
    margin-bottom: 5%;
}

.conteiner-tituloImg h3{
    margin-top: 6%;
    margin-bottom: 2%;
    font-size: 165%;
}

.parrafo-feature{
   margin-top: 9%;
   margin-right: 5%;
   margin-left: 9%;
   margin-bottom: 3%;
   font-size: 140%;
   text-align: center;
}


/*HISTORIA DEL JUEGO*/

.conteiner-img-historia, .conteiner-descripcion-historia, .conteiner-feature{
    display: flex;
    justify-content: center;
}

.conteiner-descripcion-historia{
    display: flex;
    justify-content: space-around;
    color: #081167;
}

.conteiner-img-historia img{
    width: 85%;
    margin-top: 3%;
}

.conteiner-descripcion-historia p {
    text-align:justify;
    font-size: 160%;
    width: 50%;
}

.primer-parrafo{
    margin-top: 5%;
    margin-left: 8%;
    margin-right: 6%;
}

.segundo-parrafo{
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 8%;
    margin-bottom: 5%;
}

.tarjeta-personajes{
    border: solid;
    border-color: #030625;
    display: flex;
    justify-content: center;
    height: 440px;
    width: 945.731689453125px;
    left: 10px;
    top: 10px;
}

.conteiner-imgPersonaje{
    height: 440px;
    width: 352.80487060546875px;
    left: 10px;
    top: 10px;
}

.conteiner-tituloParrafoPersonaje{
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
