*{
    margin: 0px;
    padding: 0px;
}

@font-face{
    font-family: 'Nunito';
    src: url('../font/static/Nunito-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
body{
  background-color: #86D9FC; 
  font-family: 'Nunito'; 
}

/* HEADER*/

header{
    background-color: #081167;
    height: 75px; 
    width: 98%;
    margin-top: 2%;
    margin-left: 1%;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header{
    margin-left: 30px;
}

.right-header{
    margin-right: 30px;
}

.burger{
    margin-left: 53px;
    border-style: none;
    background-color: #081167;
    margin-bottom: 1%;
}

.burger i{
    background-color: #081167;
    font-size: 380%;
    color: #F3F4FE;
}

.conteiner-user i{
    font-size: 270%;
    color: #F3F4FE;
}


/*SECCION LANZAMINETOS*/

.conteiner-titulo-lanzamiento{
    display: flex;
    justify-content: center;
   
}

.conteiner-titulo-lanzamiento h1{
     color: #081167;
     font-size: 60px;
     margin-top: 2%;
     margin-bottom: 2%;
}

.carrusel-prox-lanzamientos{
    display: flex;
    justify-content: space-evenly;
}

.tarjeta-lanzamientos{
    width: 400px;
    background-color: #030625;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.titulo-tarjeta{
    color:#FEC665;
    font-size: 180%;
    margin-left: 6%;
    margin-top: 5%;
    margin-bottom: 17%;
}

.tarjeta-lanzamientos img{
    height: 254px;
    width: 350px;
    margin-left: 6.5%;
    margin-top: 6%;
    border-radius: 20px;
}

.btn-jugar-lanzamiento{
    height: 51px;
    width: 109px;
    border-radius: 30px;
    background-color:  #4152F1;
    color: #C0C6FA;
    margin-left: 67%;
    margin-bottom: 12%;
    font-size: 100%;
    box-shadow: inset 0 0 0 0 #54b3d6;
    transition: color .50s ease-in-out, box-shadow .50s ease-in-out;
}

.btn-jugar-lanzamiento:hover{
    color: #fff;
    box-shadow: inset 200px 0 0 0 #4152F1;
}

/*SECCION RECOMENDADOS*/

h2{
    color: #081167;
    margin-left: 5%;
    margin-top: 3%;
}

.carrusel, .carrusel-img-explicativas{
    display: flex;
    justify-content: start;
    list-style: none;
    margin-block: 2rem;
    margin-inline: auto;
    overflow: auto;
    scroll-snap-type: x mandatory;
    height: auto;
    width: 100%;
    margin-left: 2%;
}
      
.tarjeta-juego{
    flex-shrink: 0;
    scroll-snap-align: start;
    width: 330px;
    border-radius: 20px;
    background-color: #030625;
    margin-left: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tarjeta-juego img {
    height: 240px;
    width: 288px;
    border-radius: 20px;
    margin-left: 6.5%;
    margin-top: 6%;
}

.conteiner-precioBtnComprar{
    width: 310px;
    display: flex;
    justify-content: space-between;
}

.precio-juego-tarjeta{
    color: #FEC665;
    font-size: 180%;
    margin-left: 6%;
    margin-top: 5px;
}


.btn-jugar{
    border-radius: 30px;
    background-color:  #4152F1;
    color: #C0C6FA;
    margin-left: 29%;
    margin-bottom: 12%;
    font-size: 100%;
    height: 41px;
    width: 99px;
    left: 197px;
    top: 373px;
}

.btn-jugar:hover{
    background-color: #081167;
    transition: all 2s;
    -webkit-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
}

.btn-jugar a, .btn-jugar-lanzamiento a {
    text-decoration: none;
    color: #C0C6FA;
}

.btn-comprar{
    border-radius: 30px;
    background-color:  #FFAB19;
    color: #030625;
    margin-left: 16%;
    margin-bottom: 12%;
    font-size: 100%;
    height: 41px;
    width: 99px;
    left: 197px;
    top: 373px;
}
.btn-comprar:hover{
    background-color: #FFAB19;
    transition: all 2s;
    -webkit-transform: rotateX(-360deg);
        -ms-transform: rotateX(-360deg);
        transform: rotateX(-360deg);
}
.btn-comprar i{
    font-size: 160%;
}





/*FOOTER*/

.primerFooter{
    background-color: #036791;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.titulo-primer-footer{
    color: #F3F4FE;
    font-size: 180%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.conteiner-titulo-primer-footer, .conteiner-cards-footer{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.card-footer{
    width: 190px;
    left: 109px;
    top: 107px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #030625;
    margin-left: 2%;
}

.card-footer img{
    height: 64.8214340209961px;
    width: 165.81817626953125px;
    left: 12.09090805053711px;
    top: 4.591552734375px;
    border-radius: 20px;
    margin-left: 6.5%;
    margin-top: 6%;
}

.titulo-tarjeta-footer{
    color: #FEC665;
    font-size: 110%;
    margin-left: 6%;
    margin-top: 5%;
    margin-bottom: 12%;
}

.segundoFooter{
    background-color: #034D6D;
    height: 120px;
    display: flex;
    justify-content: center;
}

.iconos-redes, .iconos-redes-4EnLinea{
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
    margin-bottom: 3%;
}

.iconos-redes i {
    color: #F3F4FE;
    margin-left: 45%;
    font-size: 250%;
}

.iconos-redes i:hover, .tercerFooter a:hover{
    color: #9DA5F5;
}

.iconos-redes-4EnLinea i:hover{
    color:#1224CD;
}

.tercerFooter{
    background-color: #012F43;
    display: flex;
    justify-content: center;
}

.tercerFooter a{
    color: #F3F4FE;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*SITIO 4 EN LINEA*/

.conteiner-breadCrumTitulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.breadCrum-conteiner{
    display: flex;
    justify-content: center;
    width: 185px;
    height: 32px;
    float: left;
    margin-left: 25px;
    margin-top: 4%;
}

.bread_Crum1{
    color: #F3F4FE;
    background-color: #034D6D;
    padding-left: 9%;
    padding-right: 45%;
    padding-top: 4%;
    padding-bottom: 16%;
    margin-left: 203%;
}

.bread_Crum1::after {
    content: "";
    background-color: #034D6D;
    width: 12px;
    height: 38px;
    clip-path: polygon(0 0,100% 50%,0 100%);
    display: block;
    position: absolute;
    left: 208px;
    top: 156px;
}

.bread_Crum2{
    color: #F3F4FE;
    background-color: #034D6D;
    padding-left: 8%;
    padding-right: 6%;
    padding-top: 4%;
    padding-bottom: 16%;
    margin-left: 9%;
}

.bread_Crum2::before{
    content: "";
    background-color: #86D9FC;
    width: 12px;
    height: 38px;
    clip-path: polygon(0 0,100% 50%,0 100%);
    display: block;
    position: absolute;
    left: 225px;
    top: 156px;
}

.bread_Crum2::after{
    content: "";
    background-color: #034D6D;
    width: 12px;
    height: 38px;
    clip-path: polygon(0 0,100% 50%,0 100%);
    display: block;
    position: absolute;
    left: 371px;
    top: 156px;
}

.bread_Crum3{
    color: #F3F4FE;
    background-color: #047AAC;
    padding-left: 8%;
    padding-right: 38%;
    padding-top: 4%;
    padding-bottom: 16%;
    margin-left: 9%;
}

.bread_Crum3::before{
    content: "";
    background-color: #86D9FC;
    width: 12px;
    height: 38px;
    clip-path: polygon(0 0,100% 50%,0 100%);
    display: block;
    position: absolute;
    left: 388px;
    top: 156px;
}

.bread_Crum3::after{
    content: "";
    background-color: #047AAC;
    width: 12px;
    height: 38px;
    clip-path: polygon(0 0,100% 50%,0 100%);
    display: block;
    position: absolute;
    left: 549px;
    top: 156px;
}

.breadCrum-conteiner p{
    padding-left: 10px;
}


.titulo-juego{
    font-size: 230%;
    color: #081167;
    margin-top: 4%;
}

.conteiner-titulo-juego, .conteiner-video, h1{
    display: flex;
    justify-content: center;
    
}

.conteiner-img-ppal-juego{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 535px;
}

.conteiner-img-ppal{
    width: 99%;
    
}

.btn-jugar-ppal{
    height: 85px;
    width: 191px;
    border-radius: 30px;
    position: absolute;
    background-color: #6E7AE2;
    color: #F3F4FE;
    font-size: 170%;
    border-style: none;
}

.btn-jugar-ppal:hover{
    background-color: #036791;
    transition: all .5s;
    transform: scale(1.5);
}
.compartir-redes{
    float: right;
    width: 580px;
    display: flex;
    justify-content: center;
    margin-top: 1%;
}

.compartir-redes h3{
    color: #081167;
    font-size: 210%;
    margin-right: 10%;
    margin-top: 2.5%;
}

.iconos-redes-4EnLinea i{
    color: #081167;
    margin-left: 10%;
    font-size: 250%;
}


/*SECCION FOTOS Y VIDEO*/



.titulo-video-4EnLinea{
    margin-top: 10%;
}

.img-explicativa{
    flex-shrink: 0;
    scroll-snap-align: start;
    width: 330px;
    height: 100%;
    margin-left: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-explicativa{
    color: #081167;
    font-size: 180%;
    margin-left: 6%;
    margin-top: 5px;
}

.video-4enlinea {
    display: flex;
    justify-content: center;
}

.video-4enlinea iframe {
    width: 90%;
    min-height: 500px;
}

.parrafo-reglas{
    font-size: 80%;
    color: #081167;
    margin-left: 5%;
    margin-top: 1%;
}

/*Formulario*/

.form-comentario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.conteiner-inputSubmit{
    display: flex;
    justify-content: space-between;
}

.conteiner-inputSubmit input{
    width: 70%;
    padding-bottom: 1.5%;
    border-radius: 10px;
    border-style: none;
}

.btn-submit-comentar{
    margin-right: 18%;
    border-radius: 30px;
    background-color:  #4152F1;
    color: #C0C6FA;
    font-size: 100%;
    height: 41px;
    width: 99px;
    left: 197px;
    top: 373px;
    border-style: none;
}

.btn-submit-comentar:hover{
    background-color: #0E1C95;
}

.titulo-comentario {
    color: #081167;
    font-size: 170%;
    margin-bottom: 0.5%;  
}

.conteiner-img-usuario-input{
    width: 7%;
}

.conteiner-img-usuario-input img{
    width: 100%;
    border-radius: 6px;
}

/*COMENTARIOS*/

.comentarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    margin-bottom: 5%;
}

.conteiner-comentario{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.conteiner-imgUsuario{
    display: flex;
    justify-content: start;
    margin-left: 2%;
}

.conteiner-imgUsuario img{
    width: 107px;
    height: 117px;
    margin-right: 2%;
    border-radius: 10%;
}

.conteiner-imgUsuario p{
    padding-top: 95px;
    color: #081167;
    font-size: 100%;
    height: 50%;
}

.output-comnetario{
    background-color: #F3F4FE;
    width: 41%;
    padding: 1%;
    border-radius: 10px;
    margin-top: 2%;
    margin-left: 2%;
}

.output-comnetario p{
    color: #081167;
    font-size: 106%;
}

.iconos-MeGusta{
    display: flex;
    justify-content: center;
    margin-right: 30%;
    margin-top: 0.4%;
}

.conteiner-MeGusta, .conteiner-NOMeGusta{
    display: flex;
    justify-content: center;
    color: #081167;
    width: 15%;
}

.iconos-MeGusta i{
    margin-left: 2%;
    font-size: 170%;
}

.iconos-MeGusta p{
    padding-right: 10px;
    margin-top: 7%;
    font-size: 90%;
}


/* LINEAGE II */

.body-Lineage{
    background: linear-gradient(to bottom, rgb(103, 135, 162), rgb(201, 215, 224));
}

.titulo-destacado{
    margin-top: 1%;
}

.titulo-destacado img {
    mix-blend-mode: darken;
    width: 45%;
}

.conteiner-imagen-toAction{
    display: flex;
    justify-content: center;
}

.conteiner-imagen-toAction img{
    width: 99%;
    z-index: -1;
}

.toAction{
    z-index: 1;
    position: absolute;
    margin-left: 50%;
    margin-top: 7%;
    background-color: #56CAFB49;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leyenda, .titulo-toaction{
    color: #081167;
    font-size: 145%;
    margin-bottom: 3%;
}

.btn-toAction{
    background-color: #FFDEA4;
    color: #081167;
    font-size: 145%;
    height: 72px;
    width: 189px;
    left: 195px;
    top: 139px;
    border-radius: 30px;
    border-style: none;
}

.btn-toAction:hover{
    color: white;
    background-color: #036791;
    transition: all 1s;
    box-shadow: 0 0 20px 20px #2f2f2f;
}


/* FEATURES DEL JUEGO*/

h1{
    color: #081167;
    margin-top: 5%;
    margin-bottom: 2%;
}


.tarjeta-feature{
    display: flex;
    justify-content: center;
    width: 90%;
    background-color: #56CAFB33;
    color: #081167;
    margin-bottom: 3%;
}

.conteiner-tituloImg{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.conteiner-tituloImg img {
    height: 290px;
    width: 680px;
    left: 99px;
    top: 1465px;
    border-radius: 10px;
    margin-left: 12%;
    margin-bottom: 5%;
}

.conteiner-tituloImg h3{
    margin-top: 6%;
    margin-bottom: 2%;
    font-size: 165%;
}

.parrafo-feature{
   margin-top: 9%;
   margin-right: 5%;
   margin-left: 9%;
   margin-bottom: 3%;
   font-size: 140%;
   text-align: center;
}


/*HISTORIA DEL JUEGO*/

.conteiner-img-historia, .conteiner-descripcion-historia, .conteiner-feature{
    display: flex;
    justify-content: center;
}

.conteiner-descripcion-historia{
    display: flex;
    justify-content: space-around;
    color: #081167;
}

.conteiner-img-historia img{
    width: 85%;
    margin-top: 3%;
}

.conteiner-descripcion-historia p {
    text-align:justify;
    font-size: 160%;
    width: 50%;
}

.primer-parrafo{
    margin-top: 5%;
    margin-left: 8%;
    margin-right: 6%;
}

.segundo-parrafo{
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 8%;
    margin-bottom: 5%;
}

.carrusel-personajes-destacado{
    display: flex;
    list-style: none;
    margin-block: 2rem;
    margin-inline: auto;
    overflow: auto;
    scroll-snap-type: x mandatory;
    margin-left: 2%;
}


.tarjeta-personajes{
    flex-shrink: 0;
    scroll-snap-align: start;
    width: 704px;
    margin-left: 1%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    border-color: #030625;
    border: solid;
}


.conteiner-imgPersonaje img{
    height: 423px;
    width: 352px;
    margin: 1%;
}

.conteiner-tituloParrafoPersonaje{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 440px;
    width: 352px;
}

.titulo-personaje{
    color: #081167;
    font-size: 160%;
    margin-bottom: 25%;
    margin-left: 8%;
    margin-top: 31%;
} 

.descripcion-personaje{
    color: #081167;
    font-size: 164%;
    text-align: center;
    margin-bottom: 59%;
    margin-left: 2%;
    margin-top: 3%;;
}